*{
    margin: 0;
    padding: 0;
}

$violeta: #460265;
$magenta: #a70080;
$azul: #280F71;
$negro: #000000;
$blanco: #ffffff;
$footerColor: #dcecff;
$negroTranslucido: #0000003f;

@mixin styleButton {
    border: 2px solid $magenta;
    color: $blanco;
}
@mixin styleButtonHover {
    background-color: $magenta;
    border: 2px solid $magenta;
}

.navbar{
    position: fixed;

    background-color: $negroTranslucido;
    height: 120px;
    padding-left: 10rem;
    padding-right: 10rem;
    .nav-item{
        margin-right: 50px; 
    }
    .navLink:hover{
        border-bottom: 3px solid $magenta;
    }
    .buttonContact{
        @include styleButton();
        width: 130px;  
    }
    .buttonContact:hover{
        @include styleButtonHover()
    }
}

.primerDegrade{
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, $violeta 48%, $magenta 100%);
}
.segundoDegrade{
    background: linear-gradient(180deg, $magenta 0%, $violeta 80%, $azul 100%);
    position: relative;
     z-index: -100; 
}

body{
    z-index: -500;
}
.tittleContainer{ // utilizo flex para alinear el texto
    color: $blanco;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    width: 100vw;
    h1{
        font-size: 4.5vw;
    }
    h2{
        font-size: 2vw;
    }
}

.containerServicios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000a9;
    height: 1100px;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;

    padding-bottom: 120px;
    color: #000000;
    position: relative;
    z-index: -20;

    -webkit-box-shadow: 0px 0px 37px 15px rgba(0,0,0,0.49); 
    box-shadow: 0px 0px 37px 15px rgba(0,0,0,0.49);
    
    .containerServicios__Texto{
        margin: 20px;
        color: $blanco;
        font-size: 30px;
        text-align: center;
        max-width: 400px;
        h3{
            font-size: 40px;
        }
    }
    .containerServicios__Cards{
        display: grid;
        margin:auto;

        .colCardLeft{
            margin-top: 0;
            max-width: 550px;
        }
        .colCardRight{
            margin-top: 65px;
            max-width: 550px;

        }
        .card{
            display: flex;
            align-items: center;
            //width: 50vw;
            width: 90%;
            margin: auto;
            max-width: 22em;

            position: relative;
            padding: 15% 2em;
            box-sizing: border-box;

            $border: 5px;
            color: #FFF;
            background: rgba(0, 0, 0, 0.692);
            background-clip: padding-box; /* importante */
            border: solid $border transparent; /* importante */
            border-radius: 2em;

            &:before {
                content: '';
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                z-index: -10;
                margin: -$border; /* importante */
                border-radius: inherit; /* importante */
                background: linear-gradient(150deg, rgba(40,15,113,1) 0%, rgba(0,0,0,0) 44%, rgba(163, 42, 141, 0.664) 100%);
            }

            margin-left: 2rem;
            margin-right: 2rem;
            width: 20vw;
            height: 520px;
            .card-title{
                color:$blanco;
                font-size: 40px;
            }
            .card-text{
                color:$blanco;
                font-size: 25px;
            }
            img{
                width: 60px;
            }
        }
    }
    .containerServicios__About{
        text-align: center;
        max-width: 900px;
        color: $blanco;
        h3{
            font-size: 30px;
        }
        p{
            font-size: 25px;
        }
    }
}

.separador{
    width: 300px;
    height: 180px;
}



.containerContact{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 800px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(13,16,96,0.9920343137254902) 55%, rgba(20,18,116,1) 100%);
    .containerContact__text{
        margin-top: 100px;
        color: $blanco;
        text-align: center;
        h3{
            font-size: 40px;
        }
        p{
            font-size: 30px;
        }
    }
    .containerContact__inputLabel{
        color: $blanco;
        margin: 15px;
    }
    .containerContact__textArea{
        height: 200px;
    }
    form{
        margin-top: 60px;
        width: 1200px;
    }
    input{
        color: $blanco;
        background-color: $negroTranslucido;
        border: $negroTranslucido;
        border-bottom: 4px solid $blanco;
        border-radius: 10px 10px 0 0;
    }
    input:hover{
        background-color: #8a4a8b46;
        border-bottom: 4px solid $magenta;
        color: $blanco;
    }
    .buttonContact{
        @include styleButton();
        margin-top: 30px;
        width: 130px;  
    }
    .buttonContact:hover{
        @include styleButtonHover()
    }
}

.footerContainer{
    background-color: $footerColor;
    width: 100%;
    height: 280px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    .footerContainer__Logotipo{
        img{
            height: 140px;
        }
    }
    li{
        list-style-type: none;
        text-decoration: none;
        
    }
    ul{
        padding: 0;
    }
    .footerTextStyle{
        color: $magenta;

    }

    .footerContainer__Items{
        margin-top: 40px;
    }

}

