*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

$violeta: #460265;
$magenta: #a70080;
$azul: #280F71;
$negro: #000000;
$blanco: #ffffff;
$footerColor: #dcecff;
$negroTranslucido: #000000a8;

@mixin styleButton {
    border: 2px solid $magenta;
    color: $blanco;

}
@mixin styleButtonHover {
    background-color: $magenta;
    border: 2px solid $magenta;
}

::-webkit-scrollbar {
    display: none;
}



.primerDegrade{
    .navbar{
        width: 100%;
        height: 100px;
    
        background-color: $negroTranslucido;
        padding-left: 10rem;
        padding-right: 10rem;
        .nav-item{
            margin-right: 50px; 
        }
        .navLink:hover{
            border-bottom: 3px solid $magenta;
        }
        .buttonContact{
            @include styleButton();
            text-decoration: none;
            width: 130px;  
        }
        .buttonContact:hover{
            @include styleButtonHover()
        }
    }
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, $violeta 48%, $magenta 100%);

    .tittleContainer{ // utilizo flex para alinear el texto
        color: $blanco;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 90vh;
        justify-content: center;
        width: 100vw;
        h1{
            font-size: 4.5vw;
        }
        h2{
            font-size: 2vw;
        }
    
    }
    .swipeDown{
        margin-left: 49vw;
        font-size: 45px;
        font-weight: bolder;
        color: $blanco;
    }
}
.segundoDegrade{
    background: linear-gradient(180deg, $magenta 0%, $violeta 80%, $azul 100%);
    position: relative;
     padding-bottom: 130px;
}


.containerServicios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000c4;
    height: 928px;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;


    -webkit-box-shadow: 0px 0px 37px 15px rgba(0,0,0,0.49); 
    box-shadow: 0px 0px 37px 15px rgba(0,0,0,0.49);
    
    .containerServicios__Texto{
        
        margin: 20px;
        color: $blanco;
        font-size: 16px;
        text-align: center;
        max-width: 400px;

        h3{
            margin-bottom: 60px;
            font-size: 48px;
        }
    }

    .containerServicios__Cards{
        margin-left: 10vw;
        display: flex;
        flex-direction: row;

            .containerServicios__CardsLeft{
                display: flex; 
                align-items: center;
                flex-direction: column;
                padding-top: 180px;
                margin-right: 37px;
                margin-top: -48px;
            }
            .containerServicios__CardsRight{
                display: flex; 
                align-items: center;
                flex-direction: column;
                padding-top: 180px;
                margin-right: 4vw;
                margin-top: 112px;
            }
    }


    .customCard{
        background-image: url(../img/services.svg);
        backdrop-filter: blur(8px);
        width: 270px;
        height: 416px;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        color: $blanco;

        margin-top: 32px;

        img{
            width: 50px;
        }
        .customCard__Tittle{
            font-size: 14px;
        }
        p{
            font-size: 17px;
        }
    }
    .customCard:hover{
        background-image: url(../img/servicesHover.svg);
    }

    .containerServicios__About{
        text-align: center;
        max-width: 900px;
        color: $blanco;
        h3{
            font-size: 48px;
            margin-bottom: 60px;
        }
        p{
            padding-right: 40px;
            margin-top: 60px;
            text-align: left;
            font-size: 16px;
        }
    }
}

.separador{
    padding-bottom: 180px;
}

.containerContact{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 800px;
    background: rgba(0, 0, 0, 0.15);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(13,16,96,0.9920343137254902) 55%, $azul 100%);
    .containerContact__text{
        margin-top: 100px;
        color: $blanco;
        text-align: center;
        h3{
            font-size: 40px;
        }
        p{
            font-size: 30px;
        }
    }
    .containerContact__inputLabel{
        color: $blanco;
        margin: 15px;
    }
    .containerContact__textArea{
        height: 200px;
    }
    form{
        margin-top: 60px;
        max-width: 1200px;
        width: 80vw;
    }
    input{
        color: $blanco;
        background-color: $negroTranslucido;
        border: $negroTranslucido;
        border-bottom: 4px solid $blanco;
        border-radius: 10px 10px 0 0;
    }
    input:hover{
        background-color: #8a4a8b46;
        border-bottom: 4px solid $magenta;
        color: $blanco;
    }
    .buttonContact{
        @include styleButton();
        margin-top: 30px;
        width: 130px;  
    }
    .buttonContact:hover{
        @include styleButtonHover()
    }
}

.footerContainer{
    background-color: $footerColor;
    width: 100%;
    height: 280px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    .footerContainer__Logotipo{
        img{
            height: 140px;
        }
    }
    li{
        list-style-type: none;
        text-decoration: none;
        
    }
    ul{
        padding: 0;
    }
    .footerTextStyle{
        color: $magenta;
        font-weight: bold;

    }

    .footerContainer__Items{
        margin-top: 40px;
        .itemsRedes{
            .linkFooter{
                display: inline-block;
                color: $azul;
                font-size: 14;
                font-weight: 500;
                font-style: normal;
                margin-left: 5px;
            }
        }
    }

}

@media only screen and ( max-width: 765px){
    .primerDegrade{
        .navbar{
            padding: 0;
        }

        .tittleContainer{
            text-align: center;

            h1{
                font-size: 48px;
                font-weight: 400;
                max-width: 400px;
            }
            h2{
                max-width: 300px;
                margin-top: 56px;
                font-size: 28px;
                font-weight: 400;
            }

        }
    }


    .containerServicios{   
        padding-top: 40px;
        height: 810px;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        margin-right: 0;

        .containerServicios__Texto{
            margin-left: 14vw;
            text-align: left;
        }
        .containerServicios__Cards{
                margin: 0;
                padding-left: 14vw;
                height: auto;
                display: flex;
                white-space: nowrap;
                overflow-x: auto;
                width: 100%;

                .containerServicios__CardsLeft{
                    height: auto;
                    display: inline;
                    vertical-align: middle;
                    display: flex; 
                    align-items: center;
                    flex-direction: row;
                    margin: 0;
                }
                .containerServicios__CardsRight{
                    height: auto;
                    display: inline;
                    vertical-align: middle;
                    display: flex; 
                    align-items: center;
                    flex-direction: row;
                    margin: 0;
                }
        }
        .customCard{
            height: 288px;
            margin-right: 16px;
            margin-left: 16px;
            white-space: normal;
            p{
                max-width: 180px;
            }
        }

        .containerServicios__About{
                width: 350px;
                text-align: left;
                margin-left: 10vw;
            h3{
                font-size: 36px;
                margin-bottom: 30px;
            }
            p{
                font-weight: 300;
                margin-top: 0;
                margin-right: 10vw;
                padding-right: 15px;
            }
        }
        img{
            display: none;
        }
    }


    .containerContact{
        justify-content: flex-end;
        padding-bottom: 80px;
        input{
            height: 48px;
        }
        .buttonContact{
            @include styleButtonHover();
            margin-top: 30px;
            width: 296px;  
            height: 50px;
        }
    }




    .footerContainer{
        height: 790px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .footerContainer__Logotipo{
            img{
                height: 140px;
            }
        }
    }
    

}
